* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0282f9;
}
header .row {
  width: 80%;
  margin: 0 auto;
}
header .row .head-menu {
  color: #fff;
  text-align: end;
  text-transform: uppercase;
}
header .row .head-menu div {
  display: inline-block;
  padding: 5px 10px;
}
header .navbar {
  background-color: #fff;
}
header .navbar .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .nav {
  text-transform: uppercase;
}
header .navbar .nav ul {
  list-style: none;
}
header .navbar .nav ul li {
  display: inline-block;
  padding: 10px;
}
header .navbar .nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.9em;
}
header .navbar .nav ul .current {
  border-bottom: 2px solid #0282f9;
}
header .navbar .nav ul .current a {
  color: #0282f9;
}

.hero {
  height: 40vh;
  width: 100%;
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.comics-section {
  background-color: #000;
}
.comics-section .label {
  background-color: #0282f9;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-top: -25px;
  margin-left: 10%;
  display: inline-block;
}
.comics-section .row {
  width: 80%;
  margin: 0px auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.comics-section .row .card {
  width: calc(16.6666666667% - 10px);
  margin: 0 5px;
  margin-bottom: 10px;
}
.comics-section .row .card img {
  width: 100%;
}
.comics-section .row .card h4 {
  color: #fff;
  text-transform: uppercase;
}
.comics-section .btn-container {
  text-align: center;
  padding: 20px 0;
}
.comics-section .btn-container .load {
  display: inline-block;
  background-color: #0282f9;
  padding: 5px 20px;
  margin: 0 auto;
}
.comics-section .btn-container .load a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.shop {
  background-color: #0282f9;
  padding: 10px 0px;
}
.shop .row {
  margin: 0 auto;
  width: 80%;
}
.shop .row ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.shop .row ul li {
  display: flex;
  align-items: center;
}
.shop .row ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}