* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0282f9;
}
header .row {
  width: 80%;
  margin: 0 auto;
}
header .row .head-menu {
  color: #fff;
  text-align: end;
  text-transform: uppercase;
}
header .row .head-menu div {
  display: inline-block;
  padding: 5px 10px;
}
header .navbar {
  background-color: #fff;
}
header .navbar .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .nav {
  text-transform: uppercase;
}
header .navbar .nav ul {
  list-style: none;
}
header .navbar .nav ul li {
  display: inline-block;
  padding: 10px;
}
header .navbar .nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.9em;
}
header .navbar .nav ul .current {
  border-bottom: 2px solid #0282f9;
}
header .navbar .nav ul .current a {
  color: #0282f9;
}

.hero {
  height: 40vh;
  width: 100%;
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.comics-section {
  background-color: #000;
}
.comics-section .label {
  background-color: #0282f9;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-top: -25px;
  margin-left: 10%;
  display: inline-block;
}
.comics-section .row {
  width: 80%;
  margin: 0px auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.comics-section .row .card {
  width: calc(16.6666666667% - 10px);
  margin: 0 5px;
  margin-bottom: 10px;
}
.comics-section .row .card img {
  width: 100%;
}
.comics-section .row .card h4 {
  color: #fff;
  text-transform: uppercase;
}
.comics-section .btn-container {
  text-align: center;
  padding: 20px 0;
}
.comics-section .btn-container .load {
  display: inline-block;
  background-color: #0282f9;
  padding: 5px 20px;
  margin: 0 auto;
}
.comics-section .btn-container .load a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.shop {
  background-color: #0282f9;
  padding: 10px 0px;
}
.shop .row {
  margin: 0 auto;
  width: 80%;
}
.shop .row ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.shop .row ul li {
  display: flex;
  align-items: center;
}
.shop .row ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.foot-bg {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.foot-bg .container {
  width: 80%;
  margin: 0 auto;
}
.foot-bg .container .row {
  display: flex;
  justify-content: space-between;
}
.foot-bg .container .row .foot-nav {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.foot-bg .container .row .foot-nav h3 {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
}
.foot-bg .container .row .foot-nav ul {
  list-style: none;
}
.foot-bg .container .row .foot-nav ul li a {
  color: rgb(85, 83, 83);
  text-decoration: none;
  line-height: 1.5em;
}
.foot-bg .container .row .foot-nav ul li a:hover {
  color: #fff;
}
.foot-bg .container .row .foot-nav .mid-menu {
  margin: 0 30px;
}
.foot-bg .container .row .foot-nav .copyright {
  color: rgb(85, 83, 83);
}
.foot-bg .container .row .foot-nav .copyright a {
  color: #0282f9;
  text-decoration: none;
}
.foot-bg .container .row .foot-img {
  height: 400px;
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40%;
}

.black-bg {
  background-color: #303030;
  padding: 20px 0;
}
.black-bg .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.black-bg .container .foot-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #0282f9;
  display: inline-block;
}
.black-bg .container .foot-btn a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.black-bg .container .foot-social {
  display: flex;
  align-items: center;
}
.black-bg .container .foot-social h3 {
  color: #0282f9;
  text-transform: uppercase;
  margin-right: 10px;
}
.black-bg .container .foot-social ul {
  text-decoration: none;
}
.black-bg .container .foot-social ul li {
  display: inline-block;
  padding: 0 10px;
}

.comic .splitter {
  height: 80px;
  background-color: #0282f9;
  -webkit-padding-start: 10px 0;
          padding-inline-start: 10px 0;
}
.comic .container {
  width: 65%;
  margin: 0px auto;
}
.comic .container .poster {
  margin-top: -300px;
}
.comic .container .row {
  display: flex;
  padding-top: 30px;
}
.comic .container .row .description {
  padding: 20px 0;
}
.comic .container .row .description h2 {
  color: #000;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.comic .container .row .description .price-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #55ba59;
  border: 1px solid #000;
  color: #fff;
  padding-right: 10px;
}
.comic .container .row .description .price-box .price {
  display: flex;
  justify-content: space-between;
  color: #c6f5c7;
  width: 70%;
  border-right: 1px solid #000;
  padding: 10px;
}
.comic .container .row .description .price-box .price span {
  color: #fff;
}
.comic .container .row .description p {
  padding: 10px 0;
  line-height: 1.5em;
  color: rgb(85, 83, 83);
}
.comic .container .row .advertisement {
  padding-left: 10px;
}
.comic .container .row .advertisement h4 {
  text-transform: uppercase;
  text-align: end;
  color: rgb(85, 83, 83);
}