@import './variables';

header {
    background-color: $primary-color;
    .row {
        width: 80%;
        margin: 0 auto;
        .head-menu {  
            color: #fff;
            text-align: end;
            text-transform: uppercase;
            div {
                display: inline-block;
                padding: 5px 10px;
            }
        }
    }
    .navbar{
        background-color: #fff;
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .current{
                a{
                    color: $primary-color;
                }
                border-bottom: 2px solid $primary-color;
            }
        }
        .nav{
            text-transform: uppercase;
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    padding: 10px;
                    a {
                        color: #000;
                        text-decoration: none;
                        font-size: 0.9em;
                    }
                }
                
            }
        }
        .search{
            input{
                background-color: transparent;
                border: none;
                border-bottom: 2px solid $primary-color;
                &:hover{
                    cursor: pointer;
                }
                &::placeholder{
                    text-align: end;
                }
            }
        }
    }
}